<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>S</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.ef46db3751d8e999.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.9c5f11f256c63994.js" type="module"></script><script src="polyfills.837248abb0a6c491.js" type="module"></script><script src="main.efd9c4136aaa8db8.js" type="module"></script>

</body></html>